h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 24px;

  /*block level element*/
  border-top:1px black solid;
  margin:20px;
  padding:10px;
}

a {
  color:black;
  text-decoration: none;
}

.visited {
  color:gray;
  font-weight: bold;
}
